.fixed-container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  /* (320px, 20px) -> (1024px, 40px) */
  padding: 0 calc(
      (40 - 20) / (1024 - 320) * 
      100vw + 
      20px - 
      (40 - 20) / (1024 - 320) * 
      320px);
}

@media (max-width: 320px) {
  .fixed-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .fixed-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}