.header__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 26px;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .header__inner {
    padding-top: 29px;
  }
}