.header-flying-decor__item_type_div-1 {
  --top: 146px;
  --left: 247px;
  top: 0;
  left: 0;
  font-size: 1.8125rem;
  transform: rotate(20deg);
  animation-name: braces_fly;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header-flying-decor__item_type_div-1 {
    /* (320px, 146px) -> (1024px, 154px) */
    --top: calc(
      (154 - 146) / (1024 - 320) * 
      100vw + 
      146px - 
      (154 - 146) / (1024 - 320) * 
      320px
    );
    /* (320px, 247px) -> (1024px, 888px) */
    --left: calc(
      (888 - 247) / (1024 - 320) * 
      100vw + 
      247px - 
      (888 - 247) / (1024 - 320) * 
      320px
    );
    /* (320px, 24px) -> (1024px, 48px) */
    /* Изменение: 24px */
    font-size: calc(
      1.8125rem +
      (24 - 0) / (1024 - 320) * 
      100vw + 
      0px - 
      (24 - 0) / (1024 - 320) * 
      320px
    );
  }
}

@media (min-width: 1024px) {
  .header-flying-decor__item_type_div-1 {
    /* (1024px, 154px) -> (1980px, 170px) */
    --top: calc(
      (170 - 154) / (1980 - 1024) * 
      100vw + 
      154px - 
      (170 - 154) / (1980 - 1024) * 
      1024px
    );
    /* (1024px, 888px) -> (1980px, 789px) */
    --left: calc(
      (789 - 888) / (1980 - 1024) * 
      100vw + 
      888px - 
      (789 - 888) / (1980 - 1024) * 
      1024px
    );
    font-size: calc(1.8125rem + 24px);
  }
}

@media (min-width: 1980px) {
  .header-flying-decor__item_type_div-1 {
    --top: 170px;
    --left: 789px
  }
}

@keyframes braces_fly {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: var(--top);
    left: var(--left);
  }
}