.header-flying-decor__item_type_braces {
  --top: 102px;
  --left: 49px;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  transform: rotate(20deg);
  animation-name: braces_fly;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header-flying-decor__item_type_braces {
    /* (320px, 102px) -> (1024px, 160px) */
    --top: calc(
      (160 - 102) / (1024 - 320) * 
      100vw + 
      102px - 
      (160 - 102) / (1024 - 320) * 
      320px
    );
    /* (320px, 49px) -> (1024px, 77px) */
    --left: calc(
      (77 - 49) / (1024 - 320) * 
      100vw + 
      49px - 
      (77 - 49) / (1024 - 320) * 
      320px
    );
    /* (320px, 24px) -> (1024px, 48px) */
    /* Изменение: 24px */
    font-size: calc(
      1.5rem +
      (24 - 0) / (1024 - 320) * 
      100vw + 
      0px - 
      (24 - 0) / (1024 - 320) * 
      320px
    );
  }
}

@media (min-width: 1024px) {
  .header-flying-decor__item_type_braces {
    /* (1024px, 160px) -> (1980px, 138px) */
    --top: calc(
      (138 - 160) / (1980 - 1024) * 
      100vw + 
      160px - 
      (138 - 160) / (1980 - 1024) * 
      1024px
    );
    /* (1024px, 77px) -> (1980px, -250px) */
    --left: calc(
      (-250 - 77) / (1980 - 1024) * 
      100vw + 
      77px - 
      (-250 - 77) / (1980 - 1024) * 
      1024px
    );
    font-size: calc(1.5rem + 24px);
  }
}

@media (min-width: 1980px) {
  .header-flying-decor__item_type_braces {
    --top: 138px;
    --left: -250px
  }
}

@keyframes braces_fly {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: var(--top);
    left: var(--left);
  }
}