.offer__footnote {
  position: relative;
  padding-left: 15px;
  font-size: 0.9375rem;
}

.offer__footnote::before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
}

@media (min-width: 320px) {
  .offer__footnote {
    /* (320px, 15px) -> (1024px, 20px) */
    /* Изменение: 5px */
    font-size: calc(
      0.9375rem +
      (5 - 0) / (1024 - 320) * 
      100vw + 
      0px - 
      (5 - 0) / (1024 - 320) * 
      320px
    );
  }
}

@media (min-width: 1024px) {
  .offer__footnote {
    font-size: calc(0.9375rem + 5px);
  }
}