.header-contacts__button {
  width: 207px;
}

@media (max-width: 1024px) {
  .header-contacts__button {
    display: block;
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 11px;
  }
}
