.page-header {
  /* 
    max-value: 770px
    min-value: 650px
    max-breakpoint: 1024px
    min-breakpoint: 320px
    y(x) = kx + b */
    height: calc(
      (770 - 650) / (1024 - 320) * 
      100vw + 
      650px - 
      (770 - 650) / (1024 - 320) * 
      320px);
    min-height: 650px;
    max-height: 770px;
    
}

.page-header__inner {
  height: 100%;
  padding-top: 26px;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .page-header__inner {
    padding-top: 29px;
  }
}

.page-header__decoration {
  position: absolute;
  width: 420px;
  height: auto;
  z-index: -1;
}

.page-header__top-bar {
  justify-content: space-between;
}

