.header__lead {
  font-size: 1rem;
  margin: 0 0 25px 0;
}

@media (min-width: 320px) {
  .header__lead {
    /* (320px, 16px) -> (1024px, 25px) */
    /* Изменение: 9px */
    font-size: calc(
      1rem +
      (9 - 0) / (1024 - 320) * 
      100vw + 
      0px - 
      (9 - 0) / (1024 - 320) * 
      320px
    );
    /* (320px, 25px) -> (1024px, 44px) */
    margin-bottom: calc(
      (44 - 25) / (1024 - 320) * 
      100vw + 
      25px - 
      (44 - 25) / (1024 - 320) * 
      320px
    );
  }
}

@media (min-width: 1024px) {
  .header__lead {
    font-size: calc(1rem + 9px);
    margin-bottom: 44px;
  }
}
