.header {
  /* (320px, 650px) -> (1024px, 770px) */
  height: calc(
    (770 - 650) / (1024 - 320) * 
    100vw + 
    650px - 
    (770 - 650) / (1024 - 320) * 
    320px
  );
  min-height: 650px;
  max-height: 770px;
}

@media (min-width: 1024px) {
  .header {
    overflow: hidden;
  }
}
